<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>row1</th>
        <th>row2</th>
      </tr>
      <tr>
        <td>harsha</td>
        <td>YS</td>
      </tr>
    </table>

  </body>
</html>
